* {
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  margin: 0;
  height: 100%;
}
.wrapper {
  margin: 0;
  height: 100%;
  background-color: #7395AE;
}
.upper-ui {
  height: 5em;
  color: white;
  background-color: #557A95;
}
.message {
  color: white;
  text-align: center;
}
