html, body {
  margin: 0;
  height: 100%;
}
.wrapper {
  background-color: #FBEEC1;
}
.upper-ui {
  height: 3em;
  color: white;
  background-color: #8D8741;
}
.message {
  color: white;
  text-align: center;
}
