* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html, body {
  margin: 0;
  height: 100%;
}
.wrapper {
  margin: 0;
  height: 100%;
  background-color: #20639B;
}
.upper-ui {
  height: 3.5em;
  color: white;
  background-color: #173F5F;
}
.profile-button {
  padding: 0.5em;
  margin: 1em;
  background-color: #F6D55C;
  border-radius: 0.5em;
}
.message {
  color: white;
  text-align: center;
}
